
h1{
  color: white;
    position: absolute;
    left: 40%;
    top: 15%;
    width: 120px;
    text-align: center;
    font-size: xx-large;
    font: Balloon Pops;
  }

.rs6-container{
  position: absolute;
  down: 10%;
}
