.F8-container{
    position: absolute;
    left: 35%;
    top: 40%;
    width: 120px;
  }
  
  h1{
    text-align: center;
    font-size: xx-large;
    font-family: Balloon Pops;


.rs6-container{
  position: absolute;
  down: 10%;
}